<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Main Test Suite" parallel="tests">
	<test name="TestNG Browser 1">
		<classes>
			<class name="module7.GridExampleTest" />
		</classes>
	</test>

	<test name="TestNG browser 2">
		<classes>
			<class name="module7.GridExampleTest" />
		</classes>
	</test>

</suite>